/* Photo card roughly square - hence width based on vh */
.photocard {
    border: 1px solid black;
    background-color: white;
    height: 100%;
    width: 50vh; /* See .photos-carousel height, this is a related value  */
    margin-right: 40px;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;

}

.photocard__picture-frame {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 50%;
    /* background-color: black; */
    zoom: 2; /* Allow a bit of zoom in case the thumbnail is really small */
}

.photocard__picture {
    max-height: 100%;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.photocard__title-author {
    /* background-color: #e0e0e0; */
    max-width: 100%;
    overflow: scroll;
    height: 40px;
    margin-left:20px;
    margin-right:20px;
}

.photocard__description {
    /* background-color: #e0e0e0; */
    max-width: 100%;
    height: 0px; /* Couldn't see anything in description was 100px */
    margin-left:20px;
    margin-right:20px;
    white-space: normal;
    overflow: scroll;
}

.photocard__tags {
    /* background-color: #e0e0e0; */
    max-width: 100%;
    height: 100px; 
    margin-left:20px;
    margin-right:20px;
    white-space: normal;
    overflow: scroll;
}

.photocard__tags_title {
    font-weight: bold;
    padding-right: 5px;
}
